In [1]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\unist\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\unist\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\unist\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\unist\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\unist\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\unist\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
data = pd.read_csv('data/Data prep Homogeneity.csv')

In [3]:
data.head()

,cohort_obs_dt,segment_calibration,consolidated_id,default_first_in_12M_dt,pd_model_class,pd_model_pct,pd_decided_class,pd_decided_pct,issued_or_outstanding_amt_EUR,granted_amt_EUR,EaD_amt_EUR,RWA_amt_EUR,default_flg,Validation_sample
0,12/31/2022,CORP,45524168,NaN,3.0,0.002802,3,0.002802,1864950.00,2000002.00,1966239.00,1.175231e+06,0,1
1,12/31/2022,CORP,49486671,NaN,7.0,0.045300,7,0.045300,359205.02,359205.02,359205.02,3.393121e+05,0,1
2,12/31/2022,CORP,16688984,NaN,8.0,0.110622,8,0.110622,4793951.80,5052909.80,4988170.80,1.056688e+07,0,1
3,12/31/2022,CORP,87483371,NaN,4.0,0.004900,4,0.004900,471752.00,994566.00,863863.10,4.333771e+05,0,1
4,12/31/2022,CORP,89713534,NaN,5.0,0.011300,5,0.011300,1396378.72,1819808.72,1713951.72,1.245022e+06,0,1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1488 entries, 0 to 1487
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   cohort_obs_dt                  1488 non-null   object
 1   segment_calibration            1488 non-null   object
 2   consolidated_id                1488 non-null   int64
 3   default_first_in_12M_dt        2 non-null      object
 4   pd_model_class                 1486 non-null   float64
 5   pd_model_pct                   1486 non-null   float64
 6   pd_decided_class               1488 non-null   int64
 7   pd_decided_pct                 1488 non-null   float64
 8   issued_or_outstanding_amt_EUR  1488 non-null   float64
 9   granted_amt_EUR                1488 non-null   float64
 10  EaD_amt_EUR                    1488 non-null   float64
 11  RWA_amt_EUR                    1432 non-null   float64
 12  default_flg                    1488 non-null   int64
 13  Validation_sample              1488 non-null   int64
dtypes: float64(7), int64(4), object(3)
memory usage: 162.9+ KB

In [8]:
data.cohort_obs_dt.unique()

array(['12/31/2022', '12/31/2021'], dtype=object)

In [4]:
data.head()

,cohort_obs_dt,segment_calibration,consolidated_id,default_first_in_12M_dt,pd_model_class,pd_model_pct,pd_decided_class,pd_decided_pct,issued_or_outstanding_amt_EUR,granted_amt_EUR,EaD_amt_EUR,RWA_amt_EUR,default_flg,Validation_sample
0,12/31/2022,CORP,45524168,NaN,3.0,0.002802,3,0.002802,1864950.00,2000002.00,1966239.00,1.175231e+06,0,1
1,12/31/2022,CORP,49486671,NaN,7.0,0.045300,7,0.045300,359205.02,359205.02,359205.02,3.393121e+05,0,1
2,12/31/2022,CORP,16688984,NaN,8.0,0.110622,8,0.110622,4793951.80,5052909.80,4988170.80,1.056688e+07,0,1
3,12/31/2022,CORP,87483371,NaN,4.0,0.004900,4,0.004900,471752.00,994566.00,863863.10,4.333771e+05,0,1
4,12/31/2022,CORP,89713534,NaN,5.0,0.011300,5,0.011300,1396378.72,1819808.72,1713951.72,1.245022e+06,0,1

In [ ]:
data.head()